@font-face {
    font-family: myFont;
    src: url(Chalkduster.ttf);
  }

.vl1 {
    border-left: 6px solid green;
    height: 600px;
    position: fixed;
    left: 600px;
    top: 100px;
  }

  .vl2 {
    border-left: 6px solid green;
    height: 600px;
    position: fixed;
    left: 800px;
    top: 100px;
  }

.hl1{
    border-top: 6px solid green;
    width: 600px;
    position:fixed;
    top:300px;
    left: 400px;
}

.hl2{
    border-top: 6px solid green;
    width: 600px;
    position:fixed;
    top:500px;
    left: 400px;
}

.generalButton{
    background-color:transparent;
    color: black;
    border: transparent;
    position: fixed;
    font-size: 80pt;
    font-family: myFont;
    transition-duration: 0.4s;
}
.generalButton:hover{
    background-color: aquamarine;
}
.generalButton:active{
    background-color: rgb(10, 149, 149);
}

.topLeft{
    top: 100px;
    left: 400px;
    width: 200px;
    height: 200px;
}

.topMiddle{
    top: 100px;
    left: 606px;
    width: 194px;
    height: 200px;
}

.topRight{
    top: 100px;
    left: 806px;
    width: 194px;
    height: 200px;
}

.middleLeft{
    top: 306px;
    left: 400px;
    width: 200px;
    height: 194px;
}

.middle{
    top: 306px;
    left: 606px;
    width: 194px;
    height: 194px;
}

.middleRight{
    top: 306px;
    left: 806px;
    width: 194px;
    height: 194px;
}

.bottomLeft{
    top: 506px;
    left: 400px;
    width: 200px;
    height: 194px;
}

.bottomMiddle{
    top: 506px;
    left: 606px;
    width: 194px;
    height: 194px;
}

.bottomRight{
    top: 506px;
    left: 806px;
    width: 194px;
    height: 194px;
}

.Reset{
    background-color: white;
    color:crimson;
    border: 2px solid navy;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
    position: fixed;
    font-size: 25pt;
    transition-duration: 0.4s;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 8px 16px 0 crimson, 0 6px 20px 0 navy
}
.Reset:hover{
    background-color:navy;
}
.Reset:active{
    background-color: cornflowerblue;
}

.Scoreboard{
    color:black;
    font-family:myFont;
    font-size: 60pt;
    position: static;
}