.vl1 {
    border-left: 6px solid green;
    height: 600px;
    position: fixed;
    left: 400px;
    top: 100px;
  }

  .vl2 {
    border-left: 6px solid green;
    height: 600px;
    position: fixed;
    left: 600px;
    top: 100px;
  }

.hl1{
    border-top: 6px solid green;
    width: 600px;
    position:fixed;
    top:300px;
    left: 200px;
}

.hl2{
    border-top: 6px solid green;
    width: 600px;
    position:fixed;
    top:500px;
    left: 200px;
}

.topLeft{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 100px;
    left: 200px;
    width: 200px;
    height: 200px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}
.topLeft:hover{
    background-color: aquamarine;
}
.topLeft:active{
    background-color: rgb(10, 149, 149);
}

.topMiddle{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 100px;
    left: 406px;
    width: 194px;
    height: 200px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}
.topMiddle:hover{
    background-color: aquamarine;
}
.topMiddle:active{
    background-color: rgb(10, 149, 149);
}

.topRight{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 100px;
    left: 606px;
    width: 194px;
    height: 200px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}
.topRight:hover{
    background-color: aquamarine;
}
.topRight:active{
    background-color: rgb(10, 149, 149);
}

.middleLeft{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 306px;
    left: 200px;
    width: 200px;
    height: 194px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}
.middleLeft:hover{
    background-color: aquamarine;
}
.middleLeft:active{
    background-color: rgb(10, 149, 149);
}

.middle{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 306px;
    left: 406px;
    width: 194px;
    height: 194px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}
.middle:hover{
    background-color: aquamarine;
}
.middle:active{
    background-color: rgb(10, 149, 149);
}

.middleRight{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 306px;
    left: 606px;
    width: 194px;
    height: 194px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}
.middleRight:hover{
    background-color: aquamarine;
}
.middleRight:active{
    background-color: rgb(10, 149, 149);
}

.bottomLeft{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 506px;
    left: 200px;
    width: 200px;
    height: 194px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}

.bottomLeft:hover{
    background-color: aquamarine;
}
.bottomLeft:active{
    background-color: rgb(10, 149, 149);
}

.bottomMiddle{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 506px;
    left: 406px;
    width: 194px;
    height: 194px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}
.bottomMiddle:hover{
    background-color: aquamarine;
}
.bottomMiddle:active{
    background-color: rgb(10, 149, 149);
}

.bottomRight{
    background-color:transparent;
    color: black;
    border: transparent;
    top: 506px;
    left: 606px;
    width: 194px;
    height: 194px;
    position: fixed;
    font-size: 80pt;
    font-family: fantasy;
    transition-duration: 0.4s;
}
.bottomRight:hover{
    background-color: aquamarine;
}
.bottomRight:active{
    background-color:rgb(10, 149, 149);
}

.Reset{
    background-color: white;
    color:crimson;
    border: 2px solid navy;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
    position: fixed;
    font-size: 25pt;
    transition-duration: 0.4s;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 8px 16px 0 crimson, 0 6px 20px 0 navy
}
.Reset:hover{
    background-color:navy;
}
.Reset:active{
    background-color: cornflowerblue;
}

.Scoreboard{
    color:black;
    font-family:fantasy;
    font-size: 60pt;
    position: static;
}
