@font-face {
    font-family: myFont;
    src: url(Chalkduster.ttf);
  }

.generalButton{
    background-color:transparent;
    color: black;
    border: transparent;
    position: fixed;
    font-size: 80pt;
    font-family: myFont;
    transition-duration: 0.4s;
    width: 200px;
    height: 200px;
}
.generalButton:hover{
    background-color: aquamarine;
}
.generalButton:active{
    background-color: rgb(10, 149, 149);
}

.bothBorders{
    border-right: 6px solid green;
    border-bottom: 6px solid green;
}

.topLeft{
    top: 100px;
    left: 400px;
}

.topMiddle{
    top: 100px;
    left: 600px;
}

.topRight{
    top: 100px;
    left: 800px;
    border-bottom: 6px solid green;
}

.middleLeft{
    top: 300px;
    left: 400px;
}

.middle{
    top: 300px;
    left: 600px;
}

.middleRight{
    top: 300px;
    left: 800px;
    border-bottom: 6px solid green;
}

.bottomLeft{
    top: 500px;
    left: 400px;
    border-right: 6px solid green;
}

.bottomMiddle{
    top: 500px;
    left: 600px;
    border-right: 6px solid green;
}

.bottomRight{
    top: 500px;
    left: 800px;
}

.Reset{
    background-color: white;
    color:crimson;
    border: 2px solid navy;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
    position: fixed;
    font-size: 25pt;
    transition-duration: 0.4s;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 8px 16px 0 crimson, 0 6px 20px 0 navy
}
.Reset:hover{
    background-color:navy;
}
.Reset:active{
    background-color: cornflowerblue;
}

.Scoreboard{
    color:black;
    font-family:myFont;
    font-size: 60pt;
    position: static;
}